@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: #ffffff;
    --foreground: #171717;
}

.dark {
    --background: #121212;
    --foreground: #e5e5e5;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Barlow, sans-serif;
}

/* @xyflow/react */
.react-flow__edge-path,
.react-flow__connection-path {
    stroke-width: 2px;
    stroke: #1F2937;
    color: #1F2937;
}
.dark .react-flow__edge-path,
.dark .react-flow__connection-path {
    stroke: #D1D5DB;
    color: #D1D5DB;
}

/* Pulse animation for edges that are not connected or connected to empty node */
.react-flow__edge.animated .react-flow__edge-path,
.react-flow__connection-path {
    animation: pulse 2s infinite;
}
.react-flow__edge.animated path {
    stroke-dasharray: none;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.react-flow__node-llmText {
    border-radius: 30px;
}

.react-flow__controls {
    background-color: white;
}
.dark .react-flow__controls {
    background-color: #1f1f1f;
}

.react-flow__controls-button {
    color: black;
    cursor: pointer;
}
.dark .react-flow__controls-button {
    color: #e5e5e5;
}

.react-flow__attribution {
    display: none;
}

/* antd */
.ant-btn-default {
    &:hover {
        color: black !important;
        border-color: black !important;
    }
}
.dark .ant-btn-default {
    &:hover {
        color: #e5e5e5 !important;
        border-color: #e5e5e5 !important;
    }
}

.ant-btn-loading-icon {
    color: black !important;
    margin-bottom: 5px;
}
.dark .ant-btn-loading-icon {
    color: #e5e5e5 !important;
}

.ant-spin-fullscreen {
    background-color: transparent !important;
}
.ant-spin-dot-item {
    color: black;
}
.dark .ant-spin-dot-item {
    color: #e5e5e5;
}

.ant-input-affix-wrapper-focused {
    border-color: rgb(220, 143, 0) !important;
}

.ant-popconfirm-description {
    margin-top: 2px !important;
}

/* LLM node */
.prompt-output p,
.prompt-output li {
    margin-bottom: 10px;
}

.llm-node-card div span {
    line-height: 26px;
}

/* Canvas panels */
.top-center-panel {
    width: 500px;
}
.canvas-title-input {
    padding-bottom: 0px !important;
    border-radius: 0px !important;
}
.canvas-title-input:focus {
    border-bottom: 1px solid black;
}
.dark .canvas-title-input:focus {
    border-bottom: 1px solid #e5e5e5;
}